body{
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
.big {
    width: 180px;
}

.line{
    position: relative;
    display: block;
    text-align: center;
    margin-left: 0%;
}
.droppable1 {
    background-image: url(./Images/43.png);
    background-repeat: no-repeat;
    widows: 180px;
    height: 180px;
    border-radius: 5px;
    display: block;
    background-color: #c9c9c9;
    background-position-x: 0px;
    background-position-y: 0px;
    
}
.droppable2 {
    background-image: url(./Images/43.png);
    background-repeat: no-repeat;
    width: 120px;
    height: 180px;
    border-radius: 5px;
    display: block;
    background-color: #c9c9c9;
    background-position-x: 0px;
    background-position-y: 0px;
    
}
.holder1{
    display: inline-block;
    position: relative;
    width: 180px;
    height: 360px;
}
.holder2{
    display: inline-block;
    position: relative;
    width: 120px;
    height: 360px;
}
.bar1{
    width: 180px;
    height: 20px;
    display: block;
    background-image: url(./Images/63.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 170px;
    cursor: pointer;
}
.bar2{
    width: 120px;
    height: 20px;
    display: block;
    background-image: url(./Images/63.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 170px;
    cursor: pointer;
}

.scene{
    position: relative;
    min-height: 100px;
    margin-bottom: 50px;
    margin-left: 0%;
}
.speaker{
    touch-action: none;
    position: relative;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    margin-bottom: -1px;
    background-image: url(./Images/speaker.png);
    background-size: 100%;
    display: inline-block;
    border-radius: 50%;
    background-position-x: 0px;
    background-position-y: 0px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.string{
    font-size: 50px;
    margin-right: 5px;
    margin:  -50px;
}
.uchiru_head card with_progress{
    border-bottom: 1px solid rgba(150,150,150,0.29);
}
.uchiru_head {
    line-height: 49px;
    position: relative;
    padding: 0 20px;
}
.back{
    width: 70px;
    margin-bottom: -10px;
    margin-top: 5px;
}
.backH4{
    color: aqua;
}
.beads-wrapper {
    font-size: 14px;
    text-align: center;
    margin-top: -40px;
    padding: 0 80px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 15px;
    width: 500px;
    margin-left: 20%;
}
.inner_progress {
    margin: 0 auto;
    width: 465px;
    height: 26px;
    border-radius: 16px;
    background: #EDEDED;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.22), inset 0px 1px 3px 0px rgba(0,0,0,0.18);
    position: relative;
}
.inner_progress i {
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background-image: url(./Images/ball.png);
    position: absolute;
    top: 3px;
    transition: left 200ms linear;
    -webkit-transition: left 200ms linear;
}
.main{
    width:960px;
    height: 700px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    margin-left:17%;
    margin-top:50px;
    background-color: rgb(255, 255, 255);
}
.image_1{
    position: relative;
    
}
@keyframes sprite_1 {
    from {top: 0px; }
    to {top: 90px; }
}

@keyframes sprite_2 {
    from {top: 0px;}
    to {top: -90px; }
}
@keyframes ball1{
    from {left: 52px;}
    to {left : 440px;}
}
.btn_play{
    position: absolute;
    z-index: 100;
    top: 60%;
    left: 50%;
    width: 246px;
    height: 246px;
    margin: -166px 0 0 -166px;
    border-radius: 200px;
    background-color: rgba(184,0,161,.1);
    border: 43px solid rgba(255,255,255,.75);
    -webkit-transition: linear .3s;
    transition: linear .2s;
    cursor: pointer;
}
.triangle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 112px;
    height: 113px;
    background: url(./Images/25.png) no-repeat;
    margin: -57px 0 0 -35px;
}
.triangle span{
    position: absolute;
    top: 50%;
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
    left: 18px;
    color: #fff;
}