body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://i.pinimg.com/originals/fc/6e/19/fc6e19f0d91d5f344ce9a0dd6688b1dd.jpg'); 
    background-size: contain;
    background-repeat: none; 
    background-size: auto;
}
.board {
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 1px;
    margin-top: -1px;
    line-height: 1.5;
    width: 960px;
    min-height: 483px;
}
.uchiru-place {
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-top: 1px;
    margin-top: -1px;
    line-height: 1.5;
}
.scene{
    text-align: center;
    line-height: 1.5;
    filter: blur(2px);
    position: relative;
    min-height: 560px;
    box-sizing: border-box;
}
.uchiru_head card with_progress{
    border-bottom: 1px solid rgba(150,150,150,0.29);
}

.Back{
    width: 70px;
    margin-bottom: -10px;
    margin-top: 5px;
}
.BackH4{
    color: aqua;
}
.beads-wrapper {
    font-size: 14px;
    text-align: center;
    margin-top: -40px;
    padding: 0 80px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 15px;
    width: 500px;
    margin-left: 20%;
}
.inner_progress {
    margin: 0 auto;
    width: 465px;
    height: 26px;
    border-radius: 16px;
    background: #EDEDED;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.22), inset 0px 1px 3px 0px rgba(0,0,0,0.18);
    position: relative;
}
.inner_progress i {
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background-image: url(./Images/ball.png);
    position: absolute;
    top: 3px;
    transition: left 200ms linear;
    -webkit-transition: left 200ms linear;
}
.box{
    z-index: 0;
    position: relative;
    margin: 15px auto 20px;
    width: 960px;
    min-height: 600px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.5), 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.uchiru-head__right-group {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 0;
}

.Flag {
    background-image: url(./Images/35.png);
    height: 100%;
    width: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 650px;
    top: 0px;
    display: inline-block;
}
.MoveFlag {
    background-image: url(./Images/23.png);
    position: absolute;
    left: 850px;
    width: 140px;
    height: 140px;
    top: 200px;
    left: 70px;
    display: inline-block;
}
.arrow__inner {
    position: absolute;
    width: 140px;
    height: 140px;
}
.arrow__inner__pointer {
    display: none;
    overflow: hidden;
    width: 100px;
    height: 50px;
    bottom: 60px;
    left: -252px;
    position: absolute;
    animation-name: moveArrow;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}
.arrow__inner__pointer__triangle {
    position: absolute;
    background-color: #DD6188;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 64px; 
    height: 64px; 
    bottom: -32px; 
    left: 20px;
}
.arrow__inner__line {
    display: none;
    position: absolute;
    background-color: #DD6188;
    width: 58px; 
    height: 0px; 
    bottom: 70px; 
    left: -230px; 
    animation-name: moveLine;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}
.arrow_down.arrow.arrow__inner__line{
    background-color:#62B4DD ;
}
.Question {
    position: absolute;
    left: 60px;
    width: 380px;
    line-height: 60px;
    top: 280px;
    height: 60px;
    text-align: center;
    font-size: 36px;
    animation-name: refreshQuestion;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}
.content {
    padding: 4px 0;
}
.arrow {
    left: 500px;
    top: 200px;
    display: block;
    position: absolute;
}
.arrow_down{
    left: 150px;
    top: 430px;
    display: block;
    transform: rotate(180deg);
    
}

@keyframes moveArrow{
    from{
        bottom: 60px;
    }
    to{
        bottom: 150px;
    }
}
@keyframes moveLine {
    from{
        height: 0px;
    }
    to{
        height: 90px;
    }
}



.arrow__inner__pointer:active{
    bottom: 20px;
}

.btn_play {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    width: 246px;
    height: 246px;
    margin: -130px 0 0 -130px;
    border-radius: 200px;
    background-color: rgba(184,0,161,.1);
    border: 43px solid rgba(255,255,255,.75);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s; 
    cursor: pointer;
}
.play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 112px;
    height: 113px;
    background: url(13.png) no-repeat;
    margin: -57px 0 0 -35px;
    background-image: url(/Images/25.png);
}
.btn_play:hover {
    width: 256px;
    height: 256px;
    margin-top: -130px;
    margin-left: -130px;
}
.autoMove {
    animation-name: autoMoveFlag;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 0;
    animation-timing-function: linear;
}
@keyframes autoMoveFlag {
    from {
        
    }
}
@keyframes refreshQuestion {
    from {
        font-size: 0px;
    }
    to {
        font-size: 36px;
    }
}