body{
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
.big {
    width: 180px;
}

.line{
    position: relative;
    display: block;
    text-align: center;
    margin-left: 0%;
}


.scene{
    position: relative;
    width: 960px;

    min-height: 483px;
    margin-bottom: 50px;
    margin-left: 0%;
}
.speaker{
    touch-action: none;
    position: relative;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    margin-bottom: -1px;
    background-image: url(./Images/speaker.png);
    background-size: 100%;
    display: inline-block;
    border-radius: 50%;
    background-position-x: 0px;
    background-position-y: 0px;
}
.string{
    font-size: 50px;
    margin-right: 5px;
    margin:  -50px;
}
.uchiru_head card with_progress{
    border-bottom: 1px solid rgba(150,150,150,0.29);
}
.uchiru_head {
    line-height: 49px;
    position: relative;
    padding: 0 20px;
}
.Back{
    width: 70px;
    margin-bottom: -10px;
    margin-top: 5px;
}
.BackH4{
    color: aqua;
}
.beads-wrapper {
    font-size: 14px;
    text-align: center;
    margin-top: -40px;
    padding: 0 80px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 15px;
    width: 500px;
    margin-left: 20%;
}
.inner_progress {
    margin: 0 auto;
    width: 465px;
    height: 26px;
    border-radius: 16px;
    background: #EDEDED;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.22), inset 0px 1px 3px 0px rgba(0,0,0,0.18);
    position: relative;
}
.inner_progress i {
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background-image: url(./Images/ball.png);
    position: absolute;
    top: 3px;
    transition: left 200ms linear;
    -webkit-transition: left 200ms linear;
}
.main{
    width:960px;
    height: 600px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    margin-left:17%;
    margin-top:50px;
    background-color: rgb(255, 255, 255);
}
.bg-bug{
    width: 220px;
    height: 540px;
    background-image: url('./Images/94.png');
}
.bg{
    position: absolute;
    z-index: 1;
    left: 90px;
    display: inline-block;
}
.bug{
    width: 140px;
    height: 140px;
    background-image: url('./Images/68.png');
    position: relative;
    z-index: 3;
    left: 0px;
    display: inline-block;
    transform: rotate(180deg);
}
.question{
    position: absolute;
    top: 170px;
    height: 60px;
    font-size: 36px;
    text-align: left;
    line-height: 40px;
}
 .btn_next.btn_next_kind_link.btn_next_font_cr:not(.btn_next_case_uc) {
    height: 41px;
    padding: 2px;
    border-radius: 5px;
}
 .button.btn_next {
    position: relative;
}
 .button {
    
    z-index: 0;
    font-size: 30px;
    vertical-align: top;
    transition: box-shadow ease-out .3s;
}
.pointerhand {
    cursor: pointer;
}



.btn_next.btn_next_kind_link.btn_next_font_cr:not(.btn_next_case_uc) .btn_next__placeholder,  .btn_next.btn_next_kind_link.btn_next_font_cr:not(.btn_next_case_uc) .btn_next__text {
    display: block;
    white-space: nowrap;
    font-size: 24px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    padding: 7px 0 6px;
}
.btn_next.btn_next_kind_link.btn_next_font_cr:not(.btn_next_case_uc) .btn_next__placeholder {
    position: relative;
    margin-left: 1px;
    margin-right: 38px;
}
 
 .button {
    z-index: 0;
    vertical-align: top;
    transition: box-shadow ease-out .3s;
}



 .btn_next.btn_next_kind_link.btn_next_font_cr:not(.btn_next_case_uc) .btn_next__text {
    display: block;
    white-space: nowrap;
    font-size: 24px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    padding: 7px 0 6px;
}
 .btn_next.btn_next_kind_link.btn_next_font_cr:not(.btn_next_case_uc) .btn_next__text {
    position: absolute;
    left: 3px;
    top: 2px;
}
 .btn_next.btn_next_kind_link.btn_next_color_blue .btn_next__text {
    color: #6ec3e2;
}
 .button {
    z-index: 0;
    vertical-align: top;
    transition: box-shadow ease-out .3s;
}


 .btn_next.btn_next_kind_link.btn_next_font_cr:not(.btn_next_case_uc) .btn_next__icon {
    display: block;
    position: absolute;
    width: 31px;
    height: 31px;
    top: 8px;
    right: 2px;
}
.btn_next.btn_next_kind_link.btn_next_color_blue .btn_next__icon {
    background-image: url("56.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
 .button {
    z-index: 0;
    font-size: 30px;
    vertical-align: top;
    transition: box-shadow ease-out .3s;
}
* {
    -webkit-tap-highlight-color: transparent;
}