.body{
    background-color: rgb(158, 194, 224);
}
.wrap
{   
    
    margin-top: 100px;
    border-radius: 10px;
}
.Title{
    margin-bottom: 50px;
}
.img{

    width: 200px;
    height: 200px;
    border: solid 1px;
    border-radius: 5px;
}
.row{
    width: 800px;
    height: 500px;
}
.content{
    margin-top: 20px;
}